.container_detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    
    padding: 100px;
    
}

.img_detalle{
    max-width: 250px;
    max-height:400px;
}

.container_detalle h3, h4{
    text-align: center;
    padding: 5px;
}

.container_detalle a{
    
    text-decoration: none;
    padding: 5px;
    color:#000000;
    border: 1px solid #000000;
    border-radius: 6px;
    transition: all 400ms ease;
}

.container_detalle a:hover{
    background: #000000;
    color:#ffffff;
}