.container_detalle{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    padding: 100px;
    max-width: 600px;
    min-width: 400px;
    border: .5px solid #0000003b;
    margin: 75px 0 75px 0;
    background-color: rgba(255, 228, 196, 0.32);
}

.img_detalle{
    max-width: 250px;
    max-height:400px;
}

.container_detalle h3, h4{
    text-align: center;
    padding: 5px;
}

.container_detalle a{
    
    text-decoration: none;
    padding: 5px;
    color:#000000;
    border: 1px solid #000000;
    border-radius: 6px;
    transition: all 400ms ease;
}

.container_detalle a:hover{
    background: #000000;
    color:#ffffff;
}