.nav_encabezado{
    display: grid; 
    grid-template-columns: repeat(8, 1fr);
    background-color:#000000;
    color:#ffffff;
    padding:20px;
    font-size: 1.1rem;

}

.info_empresarial{
    grid-column: 1/3;
    display: flex;
   
}

.info_empresarial h6{
    padding: 0 0.5rem;
}

.info_empresarial h6 i{
    margin-right: 0.5rem;
    
}

.redes{
    grid-column: 9;
    display: flex;
}

.redes a i{
    color:#ffffff;
    padding: 0 10px;
}

.redes a i:hover{
    transition: .5s all;
    color:bisque;
}